<app-header></app-header>
<!-- <div class="banner text-center">
    <h1>TRAINER MANAGEMENT SYSTEM</h1>   
</div> -->
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    
                    <rect width="100%" height="100%" fill="#777" /></svg>
                    <img src="./assets/images/slate.jpg" alt="Los Angeles">   
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>WELCOME TO ICT ACADEMY OF KERALA</h1>
                        <p>Building the Nation's Future</p>
                        <p><a class="btn btn-lg btn-primary" routerLink="/signup">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" /></svg>
                    <img src="./assets/images/keyboard.jpg" alt="Los Angeles"> 
                <div class="container">
                    <div class="carousel-caption">
                        <h1>GRAB THE OPPURTUNITY</h1>
                        <p>Sign up today itself.</p>
                        <p><a class="btn btn-lg btn-primary" href="/signup">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" /></svg>
                    <img src="./assets/images/laptop.jpg" alt="Los Angeles" > 
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>JOIN TO OUR ICT FAMILY</h1>
                        <p>Don't Miss this opportunity</p>
                        <p><a class="btn btn-lg btn-primary" href="/signup">Sign up today</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="circleView">
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                    </clipPath>
                </defs>
                <image  xlink:href="./assets/images/full.PNG" clip-path="url(#circleView)" />
                </svg>
                
                <h4> FULL STACK DEVELOPMENT</h4>
                <p>Full Stack Web Development is an ushering technology gradually unfolding new innovations. Concisely, this process involves three layers – Presentation, Business Logic, and Database. </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="circleView">
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                    </clipPath>
                </defs>
                <image  xlink:href="./assets/images/robo.PNG" clip-path="url(#circleView)" />    
                </svg>

                <h4>ROBOTIC PROCESS AUTOMATION</h4>
                <p>Robotic process automation (RPA) is the use of software with artificial intelligence and machine learning capabilities to handle high-volume, repeatable tasks that previously required humans to perform.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="circleView">
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                    </clipPath>
                </defs>
                <image  xlink:href="./assets/images/data.PNG" clip-path="url(#circleView)" />
                </svg>

                <h4>DATA SCIENCE AND ANALYTICS</h4>
                <p>Data Scientists is a breed of data experts who have the technical skills to solve complex problems whereas analytics interpret data and turn it into information which can offer ways to improve a business. </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">INSTITUTIONAL TRAINING </h2>
                    <!-- <span class="text-muted">It’ll blow your
                        mind.</span></h2> -->
                <p class="lead">ICT Academy of Kerala associate with educational institutions across the state of Kerala to improve employability skills of the both Faculty and the Students. The educational institutions include Engineering, Arts & science Colleges and Polytechnics.  Apart from training programs, ICTAK provides customized solutions, not limited to Learning Management Systems and other value added services in these colleges to improve the quality of college education eco system of Kerala.</p>
            </div>
            <div class="col-md-5">
                
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                      
                    preserveAspectRatio="xMidYMid slice" focusable="false"   >
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#eee"  />
                    <text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                    </clipPath>
                </defs>
                <image  xlink:href="./assets/images/ict6.PNG" clip-path="url(#rectView)" />
                        

                         
                </svg>
                


            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">GRADUATE TRAINING</h2> 
                     <!-- <span class="text-muted">See for -->
                        <!-- yourself.</span></h2> -->
                <p class="lead">ICT Academy of Kerala provides Industry focused ICT skills development program for Students . Project assignment related to capability building for are also provided.</p>
            </div>
            <div class="col-md-5 order-md-1">
                
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                    </clipPath>
                </defs>
                <image  xlink:href="./assets/images/grad.PNG" clip-path="url(#rectView)" />
            </svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">CORPORATE TRAINING</h2>
                    <!-- <span class="text-muted">Checkmate.</span></h2> -->
                <p class="lead">ICT Academy of Kerala provides world class training to the corporates which enables them to upskill their employees ,reduce the cost and gain competitive edge in the Industry .We do create and conduct customized corporate training programs after understanding the needs of the companies .The major corporate training programs conducted by us are in the following domains.</p>
            </div>
            <div class="col-md-5">

                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <defs>
                        <clipPath id="rectView">
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                        </clipPath>
                    </defs>
                    <image  xlink:href="./assets/images/cor.PNG" clip-path="url(#rectView)" />
                </svg>
                 

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <!-- <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer> -->
</main>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

